.about {
  @include padding-h(30px, 30px);
}

.about__list {
  @include list();
  @include padding-v(34px, 34px);
}

.about__title {
  @include font(1.2, 25px, 700);
}

.about-list__item {
  @include font(1.2, 17px, 700);
  padding-top: 88px;
}

@media (min-width: $w--tablet) {
  .about {
    @include padding-h(50px, 50px);
  }

  .about__list {
    display: flex;
    flex-wrap: wrap;
  }

  .about-list__item {
    font-size: 20px;
    width: 50%;
  }

  .about__title {
    font-size: $font--tablet;
  }

  .order {
    &--1 {
      order: 1;
    }

    &--2 {
      order: 2;
    }

    &--3 {
      order: 3;
    }

    &--4 {
      order: 4;
    }

    &--5 {
      order: 5;
    }

    &--6 {
      order: 6;
    }
  }
}

@media (min-width: $w--desctop) {
  .about {
    @include padding-h(210px, 210px);
    padding-top: 100px;
  }

  .about-list__item {
    width: 45%;
  }

  .about__title {
    font-size: $font--desctop;
  }

  .about__wrapper {
    width: 735px;
  }
}
