.developer {
  @include mobile--first();
  // @include padding-v(31px, 22px);
  padding-left: 39px;
}

.developer__link {
  @include font($font--bold, 19px, 0.9);
  color: $black;
}

@media (min-width: $w--tablet) {
  .developer {
    // @include padding-v(60px, 50px);
    margin: 0;
  }
}
