.page-footer {
  @include side-padding();
  background-color: $bg-grey;
}

.social-list {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 27px;
  padding-top: 25px;
}

.social-list__item {
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-list__item:not(:last-of-type) {
  margin-right: 40px;
}

.developer {
  padding-bottom: 31px;
  padding-left: 39px;
  padding-top: 22px;
}

.developer__link {
  color: #000000;
  font-size: 19px;
  font-weight: bold;
  line-height: 0.947;
}
