.main {
  @include flex--column();
}

.intro {
  @include mobile--first();
  background-color: $bg-grey;

  &--bg {
    @include padding-v(120px, 76px);
    background-image: url("../img/hero-mobile@1x.jpg");
    background-position: center top;
    background-size: 165%;
    height: 280px;
  }
}

.intro__title {
  @include font($font--bold, 26px, 1.1);
  @include padding-v(75px, 75px);
  color: $black;
  margin: auto;
  text-align: center;
  width: 280px;
}

@media (min-width: $w--tablet) {
  .main {
    margin: 0;
    width: auto;
  }

  .intro {
    width: $w--tablet;
    margin: 0 auto;
    margin-top: -70px;
    z-index: -1;

    &--bg {
      background-position: center top;
      height: 790px;
    }
  }

  .intro__title {
    font-size: $font--tablet;
    width: 100%;
  }
}

@media (min-width: $w--desctop) {
  .intro {
    width: $w--desctop;

    &--bg {
      background-size: 110%;
      height: 746px;
    }
  }

  .intro__title {
    font-size: $font--desctop;
    width: 720px;
  }
}
