@mixin border($size: 2px, $type: solid, $color: $black) {
  border: $size $type $color;
}

@mixin border-b($size: 2px, $type: solid, $color: $offer-color) {
  border-bottom: $size $type $color;
}

@mixin br--mobile-only {
  .br--mobile-only {
    @media (max-width: $w--tablet - 1) {
      display: none;
    }
  }
}

@mixin font($lh, $fz, $fw: 400) {
  line-height: $lh;
  font-size: $fz;
  font-weight: $fw;
}

@mixin indent--null {
  margin: 0;
  padding: 0;
}

@mixin list($ls: none, $m: 0, $p: 0) {
  list-style: $ls;
  margin: $m;
  padding: $p;
}

@mixin margin-h($ml, $mr) {
  margin-left: $ml;
  margin-right: $mr;
}

@mixin padding-h($pl: 30px, $pr: 30px) {
  padding-left: $pl;
  padding-right: $pr;
}

@mixin padding-v($pb, $pt) {
  padding-bottom: $pb;
  padding-top: $pt;
}

@mixin wrapper {
  .wrapper {
    margin: 0 auto;
    width: $w--mobile;

    @media (min-width: $w--tablet) {
      @include padding-h(50px, 50px);
      width: $w--tablet;
    }

    @media (min-width: $w--desctop) {
      width: $w--desctop;
    }
  }
}
