.modal {
  // @include padding-h(30px, 30px)
  // bottom: calc(50% - 168px);
  // height: 336px;
  // left: calc(50% - 50vh);
  // position: fixed;
  &.wrapper {
    @include padding-h(0, 0);
  }
}

.modal-fieldset {
  border: none;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
}

.modal-form {
  @include padding-v(46px, 36px);
}

.modal-form__item:nth-of-type(2) .modal-form__label-radio {
  @include padding-h(33px, 33px);
}

.modal-form__label-radio {
  @include font(0.94, 17px, 700);
  @include padding-h(36px, 36px);
  color: $gray--dark;
  position: relative;
  text-transform: uppercase;

  &::before {
    border: 2px solid #000000;
    content: "";
    display: block;
    height: 52px;
    position: absolute;
    top: -15px;
    width: 82px;
  }
}

.modal-form__list {
  @include list();
  display: flex;
  justify-content: space-between;
}

.modal-form__submit {
  background-color: #63d1bb;
  border-color: #63d1bb;
  color: $white;
  width: 100%;
}

.modal-form__subtitle {
  @include font(2, 15px, 400);
  @include padding-v(40px, 20px);
  color: $gray--dark;
  margin: 0;
  text-align: center;
}

.modal-form__title {
  @include font(1.2, 25px, 700);
  text-transform: uppercase;
  text-align: center;
}

@media (min-width: $w--tablet) {
  .modal {
    @include padding-h(108px, 108px);
    width: 566px;
  }

  .modal-form__item:nth-of-type(2) .modal-form__label-radio {
    @include padding-h(49px, 49px);
  }

  .modal-form__label-radio {
    @include padding-h(52px, 52px);

    &::before {
      width: 112px;
    }
  }
}
