.field__name {
  display: block;
}

.order-form__title {
  font-weight: 700;
  color: #63d1bb;
  text-transform: uppercase;
}

.order-form__group {
  border: none;
  border-top: 1px solid #62d1ba;
  font-size: 17px;
  font-weight: 700;
  // margin: 0;
  padding: 0;
}

.order-form__radio,
.order-form__checkbox,
.fieldset--name__input,
.fieldset--tel__input,
.fieldset--email__input,
.fieldset--addition__input {
  border: none;
  border-bottom: 2px solid #000000;
  width: 100%;
}

.fieldset--color__label,
.fieldset--type__label,
.fieldset--name__label {
  display: block;
  min-height: 40px;
}

.fieldset--color__item,
.fieldset--type__item,
.fieldset--name__item {
  padding-bottom: 21px;
  padding-left: 63px;

  &:last-of-type {
    padding-bottom: 0;
  }
}

.fieldset--color__list,
.fieldset--type__list,
.fieldset--name__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.fieldset--type {
  margin-bottom: 22px;
}

.fieldset--type__label {
  letter-spacing: 0.1px;
}

.fieldset--type__legend {
  padding-right: 30px;
}

.fieldset--type__list {
  margin: 0;
  padding-top: 32px;
}

.fieldset--color {
  margin-bottom: 20px;
  padding-top: 31px;
}

.fieldset--color__list {
  margin: 0;
}

.fieldset--name {
  padding-top: 10px;
}

.fieldset--name__input {
  @include padding-v(15px, 15px);
  // @include padding-h(0, 0);
  // padding: 15px 0;
}

.fieldset--name__label {
  min-height: auto;
}

.fieldset--tel,
.fieldset--email {
  margin-top: 30px;
  position: relative;
}


.fieldset--tel__img,
.fieldset--email__img {
  position: absolute;

  & path {
    fill: $grey;
  }
}

.fieldset--tel__input,
.fieldset--email__input {
  padding: 18px 0;
}

.fieldset--email__img {
  bottom: 9px;
  right: 4px;
}

.fieldset--tel__img {
  bottom: 15px;
  right: 9px;
}

.fieldset--addition__input::placeholder,
.fieldset--name__input::placeholder,
.fieldset--email__input::placeholder,
.fieldset--tel__input::placeholder {
  color: $placeholder-text;
}

.fieldset--addition {
  margin-top: 30px;
  padding-top: 24px;
}

.fieldset--addition__input {
  min-height: 142px;
  resize: none;
}

.fieldset--name__item {
  padding: 0;
  padding-top: 22px;

  &:first-of-type {
    padding-top: 17px;
  }
}

.order-form__checkbox + label,
.order-form__radio + label {
  position: relative;

  &::before {
    border: 2px solid #444444;
    content: "";
    display: block;
    height: 39px;
    left: -63px;
    position: absolute;
    top: -10px;
    width: 40px;
  }
}

.fieldset--type__label {
  &::before {
    border-radius: 50%;
  }
}

.order-form__checkbox:checked + label {
  &::after {
    background-image: url(../img/tick-mobile.svg);
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    display: block;
    height: 29px;
    left: -55px;
    position: absolute;
    top: 1px;
    width: 25px;
  }
}

.order-form__radio:checked + label {
  &::after {
    background-color: #62d1ba;
    border-radius: 50%;
    content: "";
    display: block;
    height: 16px;
    left: -50px;
    position: absolute;
    top: 2px;
    width: 16px;
  }
}

.order__button {
  margin-bottom: 55px;
  width: 100%;
}

.order__note {
  font-size: 14px;
  margin-bottom: 32px;
  margin-top: 12px;
}

.order__text {
  font-size: 13px;
  line-height: 1.8;
  // margin: 0;
  margin-bottom: 24px;
}

.order__textarea {
  border: 2px solid #000000;
  padding: 15px;
  width: 100%;
}

.order__title {
  @include padding-v(77px, 70px);
  font-size: 27px;
  margin: 0;
  text-align: center;
}

.order__wrapper {
  padding-top: 10px;
}

@media (max-width: $w--tablet - 1) {
  .order__text {
    @include padding-h(0, 0);
    // width: 260px;
  }
}

@media (min-width: $w--tablet) {
  .bg--gray {
    background-color: #f1f1f1;
  }

  .order__wrapper {
    & .wrapper {
      // @include margin-h(50px, 50px);
      @include padding-h(0, 0);
      width: 668px;
    }
  }

  .order-form__group {
    border: none;
    position: relative;
  }

  .fieldset--color__item,
  .fieldset--type__item,
  .fieldset--name__item {
    font-size: 19px;
    padding-left: 80px;
    padding-bottom: 35px;
  }

  .fieldset--color__list,
  .fieldset--type__list,
  .fieldset--name__list {
    padding-left: 167px;
    padding-top: 0;
  }

  .fieldset--color {
    @include padding-v(14px, 65px);
    margin-bottom: 0;
  }

  .fieldset--color__item {
    width: 45%;

    &:nth-of-type(2n) {
      margin-left: 40px;
    }
  }

  .fieldset--color__list {
    display: flex;
    flex-wrap: wrap;
  }

  .fieldset--email {
    margin-top: 17px;
  }

  .fieldset--email__img {
    right: 23px;
  }

  .fieldset--email__legend {
    top: 22px;
  }

  .fieldset--name {
    @include padding-v(18px, 66px);
    // padding-top: 66px;
  }

  .fieldset--name__label {
    padding-top: 15px;
    padding-right: 25px;
  }

  .fieldset--name__input {
    padding-left: 17px;
  }

  .fieldset--name__item {
    display: flex;
    padding-left: 0;
    padding-bottom: 23px;
    padding-top: 0;

    &:first-of-type {
      padding-top: 0;
    }
  }

  .fieldset--name__list {
    margin-top: -17px;
  }

  .fieldset__tel {
    padding-top: 44px;
  }

  .fieldset--tel__img {
    bottom: 16px;
    right: 25px;
  }

  .fieldset--tel__legend {
    top: 65px;
  }

  .fieldset--tel__input,
  .fieldset--email__input {
    background-color: transparent;
    font-size: 19px;
    margin-left: 167px;
    padding-left: 20px;
    width: calc(100% - 167px);
  }

  .fieldset--type {
    padding-bottom: 28px;
  }

  .fieldset--addition {
    margin-top: 26px;
  }

  .fieldset--addition__legend {
    left: 0;
    top: 40px;
  }

  .fieldset--addition__input {
    font-size: 19px;
    padding: 13px;
  }

  .fieldset--addition.wrapper {
    padding-left: 167px;
  }

  .fieldset--gray {
    padding-bottom: 50px;
  }

  .order-form__title {
    position: absolute;
  }

  .order-form__checkbox + label::before,
  .order-form__radio + label::before {
    height: 53px;
    left: -81px;
    top: -15px;
    width: 54px;
  }

  .order-form__checkbox:checked + label::after {
    height: 26px;
    left: -67px;
    top: 0px;
    width: 33px;
  }

  .order-form__radio:checked + label::after {
    height: 20px;
    width: 20px;
    left: -64px;
  }

  .form-bottom {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
  }

  .order__button {
    order: -1;
    margin-bottom: 49px;
    width: 230px;
  }

  .order__note {
    font-size: 17px;
  }

  .order__text {
    font-size: 17px;
    margin-bottom: 71px;
    padding-top: 50px;
  }

  .order__title {
    @include padding-v(84px, 55px);
    font-size: 43px;
  }
}

@media (min-width: $w--desctop) {
  .order__wrapper {
    padding-top: 66px;

    & .wrapper {
      width: $w--desctop-wrapper;
    }

    & .fieldset--addition,
    & .fieldset--color,
    & .fieldset--email,
    & .fieldset--name,
    & .fieldset--tel,
    & .fieldset--type {
      width: 925px;
    }

    & .fieldset--addition,
    & .fieldset--email,
    & .fieldset--tel {
      padding-right: 60px;
    }
  }

  .fieldset--color,
  .fieldset--name,
  .fieldset--type {
    &__list {
      padding-left: 113px;
    }
  }

  .fieldset--email__input,
  .fieldset--tel__input {
    margin-left: 113px;
  }

  .fieldset--addition {
    &.wrapper {
      @include padding-h(113px, 113px);
    }
  }

  .fieldset--color__item {
    width: 32.4%;

    &:nth-child(2n) {
      margin-left: 0;
    }
  }

  .fieldset--name__list {
    padding-right: 110px;
  }

  .fieldset--email__img {
    bottom: 9px;
    right: 116px;
  }

  .fieldset--tel__img {
    right: 120px;
  }

  .form-bottom {
    padding-top: 45px;
  }

  .form-bottom,
  .order__text {
    &.wrapper {
      @include padding-h(174px, 174px);
    }
  }

  .order__note {
    padding-top: 3px;
  }

  .order__text {
    padding-top: 37px;
  }

  .order__title {
    font-size: 53px;
    padding-bottom: 100px;
  }
}
