.page-header__logo {
  @include padding-v(22px, 22px);
  background-image: url("../img/logo-mobile.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: block;
  height: 70px;
  padding-left: 50px;
  width: 100%;
}

@media (min-width: $w--tablet) {
  .page-header {
    margin: 0;
    padding: 0;
    width: auto;
  }

  .page-header__logo {
    background-image: url("../img/logo-tablet.svg");
    display: inline-block;
    height: 80px;
    margin-left: -5px;
    position: absolute;
    width: 120px;
  }

  .page-header__logo-wrapper {
    margin: 0 auto;
    width: $w--tablet-wrapper;
  }

  .page-header__wrapper {
    margin: 0 auto;
    width: $w--tablet;
  }
}

@media (min-width: $w--desctop) {
  .page-header__wrapper {
    // height: 75px;
    // margin-bottom: -55px;
    padding-top: 10px;
    width: $w--desctop;
  }

  .page-header__logo-wrapper {
    width: $w--desctop;
  }

  .page-header__logo {
    background-image: url("../img/logo-desktop.svg");
    height: 72px;
    width: $w--desctop;
    z-index: -1;
  }
}
