.page-footer {
  @include flex--column();
  background-color: $bg-grey;
  margin: 0 auto;
  width: $w--mobile;
}

.page-footer__list,
.page-footer__developer {
  @include padding-v(26px, 26px);
}

@media (min-width: $w--tablet) {
  .page-footer {
    margin: 0 auto;
    width: $w--tablet;
  }

  .page-footer__logo {
    background-image: url("../img/logo-footer.svg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    height: auto;
    width: 120px;
  }

  .page-footer__list,
  .page-footer__developer {
    @include padding-v(55px, 55px);
  }

  .page-footer__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    width: $w--tablet-wrapper;
  }
}

@media (min-width: $w--desctop) {
  .page-footer {
    width: $w--desctop;
  }

  .page-footer__wrapper {
    width: $w--desctop-wrapper;
  }
}
