.page-footer {
  @include padding-v(26px, 8px);
  background-color: $bg-grey;
  display: flex;
  flex-direction: column;
}

.page-footer__developer {
  justify-content: center;
}

.page-footer__logo {
  height: 0;
  text-align: center;
}

.page-footer__logo-img {
  height: 0;
}

@media (min-width: $w--tablet) {
  .page-footer {
    @include padding-v(55px, 52px);
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
  }

  .page-footer__logo {
    height: auto;
  }

  .page-footer__logo-img {
    height: 34px;
    width: 102px;
  }

  .page-footer__logo-img {
    height: 34px;
    width: 102px;
  }

  .page-footer__list,
  .page-footer__developer {
    margin: 0;
  }

  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: $w--desctop) {
  .page-footer__logo {
    width: 120px;
    margin-left: -10px;
  }

  .page-footer__wrapper {
    padding-left: 50px;
    padding-right: 50px;
  }
}
