.products__list {
  @include indent--null();
  @include padding-h();
  padding-bottom: 30px;
}

.products-list__item {
  @include list();
  display: flex;
  padding-top: 31px;
}

.products-item {
  border: 1px solid $product-color;
}

.products-item__buy-img {
  & path {
    fill: $grey;
  }
}

.products-item__img {
  background-color: $product-color;
}

.product-item__bottom {
  @include padding-v(27px, 21px);
  border-top: 1px solid $product-color;
  display: flex;
  justify-content: space-between;
}

.product-item__top {
  @include padding-v(18px, 23px);
}

.products-item__title {
  @include font(1.4, 17px, 700);
  @include indent--null();
}

.products-item__desc {
  @include font(2.3, 13px, null);
  @include indent--null();
  color: $gray--dark;
  padding-top: 8px;
}

.products-item__price {
  @include font(1.6, 15px, 700);
  @include indent--null();
}

.product-item__wrap {
  @include padding-h(27px, 27px);
  flex-grow: 1;
}

@media (min-width: $w--tablet) {
  .products {
    margin: 0 auto;
    padding-top: 15px;
    width: $w--tablet;
  }

  .products-item {
    display: flex;
    height: 335px;
  }

  .product-item__bottom {
    padding-bottom: 25px;
    padding-left: 4px;
    padding-top: 21px;
  }

  .products-item__desc {
    font-size: 15px;
    // padding-top: 0;
  }

  .products-item__img {
    height: 334px;
    width: 334px;
  }

  .products-item__price {
    font-size: 17px;
  }

  .products-item__title {
    font-size: 20px;
    line-height: 1.15;
  }

  .product-item__wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 330px;
  }

  .products__list {
    margin: 0 auto;
    padding: 0;
  }

  .products-list__item {
    padding-top: 53px;
  }
}

@media (min-width: $w--desctop) {
  .products {
    margin: 0 auto;
    padding-top: 56px;
    width: auto;
  }

  .products__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -50px;
    width: auto;
  }

  .products-item {
    flex-direction: column;
    height: auto;
    width: 316px;
  }

  .product-item__bottom {
    padding-left: 0;
  }

  .products-item__buy-img {
    margin-right: 21px;
  }

  .products-item__desc {
    padding-top: 3px;
  }

  .products-item__img {
    height: 462px;
    width: 316px;
  }

  .product-item__top {
    padding-bottom: 13px;
  }

  // .product-item__wrap {
  //   // min-height: 243px;
  // }

  .products-list__item {
    margin-left: 50px;
    margin-bottom: 30px;
  }
}
