.social-list {
  align-items: center;
  border-bottom: 1px solid $social-color;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  margin-left: -5px;
  padding: 0;
  padding-bottom: 23px;
}

.social-list__item {
  @include list();
}

.social-list__item:not(:last-of-type) {
  margin-right: 40px;
}

@media (min-width: $w--tablet) {
  .social-list {
    @include padding-v(0, 9px);
    border-bottom: none;
    padding-left: 83px;
  }
}
