$black: #000000;
$bg-grey: #f1f1f1;
$bg-grey--light: #f9f9f9;
$bg-green--light: #63d1bb;
$bg-green--darker: #56c3b2;
$gray--dark: #444444;
$nav-color: #ececec;
$offer-color: #ececec;
$product-color: #ededed;
$social-color: #e5e5e5;
$white: #ffffff;

$font--main: "OpenSans", "Arial", sans-serif;

$font--desctop: 53px;
$font--tablet: 43px;

$w--desctop: 1150px;
$w--mobile: 320px;
$w--tablet: 768px;

$w--desctop-wrapper: 1050px;
$w--tablet-wrapper: 668px;
