$black: #000000;
$bg-grey: #f1f1f1;
$bg-green--light: #63d1bb;
$bg-green--darker: #56c3b2;
$gray--dark: #444444;
$nav-color: #ececec;
$offer-color: #ececec;
$product-color: #ededed;
$social-color: #e5e5e5;
$white: #ffffff;

$font--normal: "OpenSans", "Arial Black", sans-serif;
$font--bold: "OpenSans--Bold", "Arial Black", sans-serif;

$w--desctop: 1150px;
$w--mobile: 320px;
$w--tablet: 768px;